@import "./reset.scss";

// it's a go! -- mario
:root {
  box-sizing: border-box;
  font: 16px/1.414 sans-serif;
}

html,
body,
#__next {
  height: 100%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
}

body {
  width: 100vw;
  color-scheme: light dark;
  overflow-x: hidden;
}

a {
}

img {
  display: block;
  width: 100%;
  height: auto;
}
